.btr-gral{
    padding: 10px; 
    max-width: 20;
    

    }
body{
    background-image: url(../imagen/fondos/grey_wash_wall.webp);
}
main{
    background-color: $textBg;
}
button{
    color: $tituloColors;
}
