.contenedor{
  background-color:$textBg;
  width:auto;
margin: 20px;
padding: 60px 40px;
  
}
 article{
  background-color:$textBg ;
   div{
         
         background-color:$textBg ;
      p{
        $parrafoColors: black;
        }
   }
}




